In [28]:
import pandas as pd
import os

In [29]:
directory_path = 'data/twitter/'
files = os.listdir(directory_path)
data = []

In [30]:
for file in files:
    if file.endswith('.csv'):
        file_path = os.path.join(directory_path, file)
        df = pd.read_csv(file_path)
        data.append(df)

combined_data = pd.concat(data)

In [31]:
combined_data

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1807993040382091636,Tue Jul 02 04:29:59 +0000 2024,0,@AleamsBarra namanya apa ya pak kalau kertas b...,1807995106672496900,NaN,AleamsBarra,in,Singapore,0,1,0,https://x.com/ainunnajib/status/18079951066724...,35167068,ainunnajib
1,1807985210942017682,Tue Jul 02 03:50:39 +0000 2024,0,patut aku pump duit ini dalam biz kawan aku se...,1807985210942017682,https://pbs.twimg.com/media/GRdA0G2aYAU4LUU.jpg,NaN,in,Bukit Tunku,0,0,0,https://x.com/zukerbot/status/1807985210942017682,777473627226726401,zukerbot
2,1807975148903145789,Tue Jul 02 03:10:40 +0000 2024,0,chargeback kartu debit yang bertransaksi di e ...,1807975148903145789,NaN,NaN,in,NaN,2,2,0,https://x.com/jarbobb/status/1807975148903145789,1273046269577932801,jarbobb
3,1807971345310888416,Tue Jul 02 02:55:36 +0000 2024,0,DEAR ME BEAUTY Cleansing Balmnya bagus banget ...,1807971358229647855,https://pbs.twimg.com/media/GRc0XRfbcAAkp17.jpg,growlikng,in,she/her,0,1,0,https://x.com/growlikng/status/180797135822964...,820562400034160640,growlikng
4,1807968620976525642,Tue Jul 02 02:44:44 +0000 2024,0,WKWKWKSSKKSKWKWKWKWK kalo belom tidur emang pa...,1807968620976525642,NaN,NaN,in,NaN,0,0,0,https://x.com/jaunechan/status/180796862097652...,1061817945112829952,jaunechan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,1799656581962908114,Sun Jun 09 04:15:39 +0000 2024,0,Riset menyatakan kecenderungan pengguna atau k...,1799656581962908114,NaN,NaN,in,"Jakarta, Indonesia",0,1,1,https://x.com/detikinet/status/179965658196290...,135815019,detikinet
448,1799654604764057808,Sun Jun 09 04:07:48 +0000 2024,0,E-Commerce Jadi Salah Satu Penopang Kinerja In...,1799654604764057808,https://pbs.twimg.com/media/GPmoJL4aIAAtvrS.png,NaN,in,NaN,0,0,0,https://x.com/arahkitamedia_/status/1799654604...,1741804247933665280,arahkitamedia_
449,1799554082312515969,Sat Jun 08 23:48:26 +0000 2024,0,@davidamzhustle PROFIT,1799589335383114011,NaN,davidamzhustle,in,Belfast,0,1,0,https://x.com/ChrisALavery/status/179958933538...,120499006,ChrisALavery
450,1799524862425260185,Sat Jun 08 19:34:10 +0000 2024,0,@LibertyCappy Pokemon?,1799525345302892593,NaN,LibertyCappy,in,NaN,0,0,0,https://x.com/ecomTrevor/status/17995253453028...,793644255130431488,ecomTrevor
451,1799507425797836927,Sat Jun 08 18:22:58 +0000 2024,0,Setahun yang lalu ecommerce kambuh lagi gue,1799507425797836927,NaN,NaN,in,"id +62 Jakarta, Indonesia",0,0,0,https://x.com/AlidarmansyahWp/status/179950742...,1322840737,AlidarmansyahWp

In [32]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7668 entries, 0 to 451
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      7668 non-null   int64
 1   created_at               7668 non-null   object
 2   favorite_count           7668 non-null   int64
 3   full_text                7668 non-null   object
 4   id_str                   7668 non-null   int64
 5   image_url                1118 non-null   object
 6   in_reply_to_screen_name  3999 non-null   object
 7   lang                     7668 non-null   object
 8   location                 4290 non-null   object
 9   quote_count              7668 non-null   int64
 10  reply_count              7668 non-null   int64
 11  retweet_count            7668 non-null   int64
 12  tweet_url                7668 non-null   object
 13  user_id_str              7668 non-null   int64
 14  username                 7668 non-null   object
dtypes: int64(7), object(8)
memory usage: 958.5+ KB

In [33]:
print(combined_data.isna().sum())

conversation_id_str           0
created_at                    0
favorite_count                0
full_text                     0
id_str                        0
image_url                  6550
in_reply_to_screen_name    3669
lang                          0
location                   3378
quote_count                   0
reply_count                   0
retweet_count                 0
tweet_url                     0
user_id_str                   0
username                      0
dtype: int64

In [34]:
print(combined_data.duplicated().sum())

6629

In [35]:
cleaned_data = combined_data.drop_duplicates()
cleaned_data

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1807993040382091636,Tue Jul 02 04:29:59 +0000 2024,0,@AleamsBarra namanya apa ya pak kalau kertas b...,1807995106672496900,NaN,AleamsBarra,in,Singapore,0,1,0,https://x.com/ainunnajib/status/18079951066724...,35167068,ainunnajib
1,1807985210942017682,Tue Jul 02 03:50:39 +0000 2024,0,patut aku pump duit ini dalam biz kawan aku se...,1807985210942017682,https://pbs.twimg.com/media/GRdA0G2aYAU4LUU.jpg,NaN,in,Bukit Tunku,0,0,0,https://x.com/zukerbot/status/1807985210942017682,777473627226726401,zukerbot
2,1807975148903145789,Tue Jul 02 03:10:40 +0000 2024,0,chargeback kartu debit yang bertransaksi di e ...,1807975148903145789,NaN,NaN,in,NaN,2,2,0,https://x.com/jarbobb/status/1807975148903145789,1273046269577932801,jarbobb
3,1807971345310888416,Tue Jul 02 02:55:36 +0000 2024,0,DEAR ME BEAUTY Cleansing Balmnya bagus banget ...,1807971358229647855,https://pbs.twimg.com/media/GRc0XRfbcAAkp17.jpg,growlikng,in,she/her,0,1,0,https://x.com/growlikng/status/180797135822964...,820562400034160640,growlikng
4,1807968620976525642,Tue Jul 02 02:44:44 +0000 2024,0,WKWKWKSSKKSKWKWKWKWK kalo belom tidur emang pa...,1807968620976525642,NaN,NaN,in,NaN,0,0,0,https://x.com/jaunechan/status/180796862097652...,1061817945112829952,jaunechan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,1801209276167561437,Thu Jun 13 11:05:30 +0000 2024,2,Nah kalau BTPS itu sebenernya TaoBao in the ma...,1801209276167561437,NaN,NaN,in,"Jakarta Selatan, DKI Jakarta",0,0,0,https://x.com/asimetri_id/status/1801209276167...,75184094,asimetri_id
1035,1801207897957040500,Thu Jun 13 11:00:02 +0000 2024,5,Ssst.. sstt.. ada ekstra kuota hingga 5GB nih!...,1801207897957040500,https://pbs.twimg.com/media/GP3B_VGasAAUbLS.jpg,NaN,in,Indonesia,0,2,1,https://x.com/triindonesia/status/180120789795...,63433517,triindonesia
1036,1801172511834640634,Thu Jun 13 08:39:25 +0000 2024,2539,Untuk memberikan gambaran besarnya pasar ini d...,1801172511834640634,https://pbs.twimg.com/media/GP8MmGLbYAABOyB.jpg,NaN,in,NaN,342,143,1127,https://x.com/achmadzaky/status/18011725118346...,28835204,achmadzaky
0,1808000427834933264,Tue Jul 02 06:09:04 +0000 2024,0,@momwholifts wkwkwkw.. kalo ini sih no comment...,1808020042648543457,NaN,momwholifts,in,"Bali, Indonesia",0,0,0,https://x.com/idthreedots/status/1808020042648...,300750176,idthreedots
344,1802640253020405871,Mon Jun 17 09:51:42 +0000 2024,0,ini kan acara pameran. kenapa nyalahin market...,1802640253020405871,NaN,NaN,in,"Kobe City Chuo Ward, Hyogo",0,0,0,https://x.com/rank244/status/1802640253020405871,1076408205117337602,rank244

In [36]:
cleaned_data.to_csv('data/twitter/clean_data.csv', index=False)